{% extends 'base1.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
<div style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.name }}</td>
                <td>
                    <a href="{{ path('app_artile_categorie_show', {'id': categorie.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artile_categorie_new') }}">Create new</a>
</div>
{% endblock %}
