
{% block title %}Edit Donation{% endblock %}

{% block body %}
    <h1>Edit Donation</h1>

    {{ include('visiteur_donation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_visiteur_donation_index') }}">back to list</a>

    {{ include('visiteur_donation/_delete_form.html.twig') }}
{% endblock %}
