{# templates/article/pdf_template.html.twig #}

<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<h1>{{ article.title }}</h1>
<p>{{ article.content }}</p>
<!-- Ajoutez d'autres éléments d'article au besoin -->
</body>
</html>
